includes:
    - ../plugin/vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6

    paths:
        - ../plugin

    excludePaths:
        - ../plugin/vendor

    bootstrapFiles:
        - phpstan-stubs.php

    ignoreErrors:
        # EDD classes are not available during static analysis
        - '#Class EDD_Subscription not found#'
        - '#Class EDD_Recurring_Subscriber not found#'
        - '#Class Easy_Digital_Downloads not found#'
        - '#Class EDD_Recurring not found#'
        - '#Function edd_get_payment_user_id not found#'
        - '#Function edd_get_payment_meta_cart_details not found#'
        - '#Function edd_recurring not found#'
