includes:
    - ../plugin/vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6

    paths:
        - ../plugin

    excludePaths:
        - ../plugin/vendor

    bootstrapFiles:
        - phpstan-stubs.php

    scanFiles:
        - ../plugin/edd-role-manager.php

    ignoreErrors:
        # Plugin Update Checker uses traits that PHPStan doesn't resolve well
        - '#Call to an undefined method YahnisElsts\\PluginUpdateChecker\\v5p6\\Vcs\\Api::enableReleaseAssets#'
        # Defensive null coalescing for external data - stubs say properties exist but real data may vary
        - "#Offset 'id' on array\\{id: int.*always exists#"
        - '#Property EDD_Subscription::\$product_id.*on left side of \?\? is not nullable#'
        - '#Property EDD_All_Access_Pass::\$.*on left side of \?\? is not nullable#'
